@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default margin and padding */
body,
h1,
h2,
p,
input,
label {
  margin: 0;
  padding: 0;
}

/* Center content vertically and horizontally */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  position: relative;
}

/* Black line */
.black-line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: #000;
  z-index: -1;
}

/* Container for survey content */
.container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Page header styles */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Question styles */
h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Radio button styles */
label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

/* Input styles */
input[type="email"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: transparent;
}

/* Submit button styles */
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Thank you page styles */
/* .thank-you {
  text-align: center;
}

/* Thank you page title styles */
/* .thank-you h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

/* Thank you page message styles */
/* .thank-you p {
  font-size: 18px;
  color: #555;
} */
